@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'Proxima-italic';
    src: url('../font/Mark-Simonson-Proxima-Nova-Black-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-semibold';
    src: url('../font/Mark-Simonson-Proxima-Nova-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-extrabold';
    src: url('../font/Mark-Simonson-Proxima-Nova-Extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-regular';
    src: url('../font/Mark-Simonson-Proxima-Nova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-bold';
    src: url('../font/Mark-Simonson-Proxima-Nova-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

:root{
    --pItalic : 'Proxima-italic';
    --pSemibold : 'Proxima-semibold';
    --pExtrabold : 'Proxima-extrabold';
    --pRegular : 'Proxima-regular';
    --pBold : 'Proxima-bold';
    --white : #fff ;
    --black : #000 ;
    --orange : #fe6a00 ;
    --red : #f31f5c ;
    --gray : #8d8d8d ; 
    --grayborder : #b2b2b2 ; 
    --btnForm : #272727 ; 
    --checkbox : #5a5a5a ;
    --borderForm : #4d4d4e; 
    --playfair: "Playfair Display", serif;
    --lora : "Lora", serif;
}

.container1440{
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}

.btnPlein{
    padding: 9px 9px 7px;
    background: linear-gradient(to top, #f31f5c, #fe6a00 100%);
    border-radius: 16px;
    color: var(--white);
}

.container1170{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
    color: var(--black);
}

ul{
    padding: 0;
    list-style-type: none;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 25%;
}

.logo{
    margin-top: 33px;
}

header nav ul {
    display: flex;
    gap: 30px;
    margin: 35px 0px;
}

header nav ul a{
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--pSemibold);
    padding: 20px;
}

header nav ul a:hover{
    color: linear-gradient(to right, #fe6a00, #f31f5c 38%);
}

/* FOOTER */

footer p, footer a{
    text-align: center;
    color: var(--gray);
    font-size: 14px;
    padding: 20px 0;
}

/* MAIN */

/* SECTION ACCROCHE */

#accroche{
    background: url(/img/background-header.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 80px;
}

.needOne{
    font-family: var(--playfair);
    font-size: 40px;
    font-style: italic;
    color: var(--white);
}

.project3d{
    font-family: var(--pExtrabold);
    font-size: 70px;
    text-transform: uppercase;
    color: var(--white);
}

#divH1{
    padding-top: 47vh;
}

#divService{
    margin-top: 25px;
}

.hrservice{
    width: 160px;
    border: 1px solid var(--orange);
    display: inline-block;
    margin-bottom: 5px;
}

.btnService{
    padding: 7px 14px;
    color: var(--white);
    font-family: var(--pRegular);
    font-size: 16px;
    border: 2px solid transparent;
    margin-left: 5px;
    border-image: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    border-image-slice: 1;
    transition: all 0.2s ease;
}

.btnService:hover{
    background: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    transition: all 0.2s ease;
}

/* SECTION YOUR SERVICE */

#service{
    margin-bottom: 88px;
}

.rotateHr{
    text-align: center;
}

.rotateHr hr{
    width: 50px;
    rotate: 90deg;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    border-image-slice: 1;
    margin: auto;
}

.rotateHr p{
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: var(--pRegular);
    color: var(--red);
}

#yourProject{
    text-align: center;
}

#yourProject h2{
    color: var(--black);
    font-family: var(--pExtrabold);
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#yourProject p{
    font-family: var(--lora);
    color: var(--gray);
    font-size: 115%;
    margin-top: 54px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 25px;
}

#divYourProject{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: 816px;
    margin: 108px auto;
}

.articleProject{
    padding: 33px;
    border: 1px solid var(--grayborder);
    text-align: center;
    height: 275px;
}

#article1{
    position: absolute;
}

#article1::before{
    content: url(/img/rea3d.png);
    position: absolute;
    padding: 0 20px 0 20px;
    background-color: var(--white);
    top: -65px;
    right: -52px;
}
#article2{
    position: absolute;
}

#article2::before{
    content: url(/img/Graphisme.png);
    position: absolute;
    padding: 0 20px 0 20px;
    background-color: var(--white);
    top: -65px;
    right: -52px;
}

.articleProject h3{
    font-size: 26px;
    font-family: var(--pBold);
    text-transform: uppercase;
}

.firstUl, .secondUl{
    margin: 15px 0 45px 0;
    color: var(--gray);
    font-size: 16px;
    font-family: var(--pRegular);
}

ul.firstUl > li:nth-child(1), .secondUl > li:nth-child(1){
    font-family: var(--pSemibold);
}

#divYourProject > article > a{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 76px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--black);
    width: max-content;
    padding: 5px;
    font-size: 14px;
    font-family: var(--pSemibold);
}

/* À PROPOS */

#apropos{
    background: url(/img/Background-rc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
    height: 740px;
    margin-bottom: 80px;
}

.divPropos{
    text-align: center;
}

.divPropos > p{
    color: var(--red);
    font-family: var(--pRegular);
    font-size: 15px;
    padding: 50px 0 10px 0;
}

.divPropos h2{
    color: var(--white);
    font-size: 66px;
    font-family: var(--pExtrabold);
    margin-bottom: 54px;
}

.txt{
    margin-bottom: 88px;
}

.txt p{
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: var(--lora);
    line-height: 1.6;
    margin: 16px 0;
}

.freelanceWork{
    text-align: start;
}

#apropos > div > div.freelanceWork > p {
    font-size: 15px;
    background: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
    -moz-background-clip: text; /* Pour les anciennes versions de Firefox */
    -ms-background-clip: text; /* Pour les anciennes versions de Internet Explorer */
    background-clip: text; /* Propriété standard */
    -webkit-text-fill-color: transparent; /* Nécessaire pour voir le dégradé à travers le texte sur WebKit */
    color: transparent; /* Sécurité au cas où */
    font-family: var(--pSemibold);
    width: 305px;
    margin: 0 0 20px;
}

.freelanceWork h3{
    font-family: var(--pExtrabold);
    font-size: 33px;
    margin-bottom: 28px;
    color: var(--white);
}

.hrFreelance{
    display: inline-flex;
}

.hrFreelance hr{
    border: 1px solid transparent;
    display: inline-block;
    border-image: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    border-image-slice: 1;
    width: 78px;
    margin-top: 10px;
    height: 0;
}

.hrFreelance ul{
    margin-left: 30px;
    color: var(--white);
    font-size: 18px;
    font-family: var(--pRegular);
    line-height: 27px;
}

#portfolio{
    margin-bottom: 50px;
}

.portfoliohr{
    display: flex;
    margin-bottom: 30px;
}

.portfoliohr hr{
    display: inline-block;
    border: 1px solid var(--orange);
    width: 102px;
    height: 0;
    margin: 10px 10px 10px 0;
}

.portfoliohr p{
    color: var(--red);
    font-size: 15px;
    font-family: var(--pRegular);
    text-transform: uppercase;
}

#portfolio h2{
    font-size: 66px;
    font-family: var(--pExtrabold);
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 54px;
}

#menuPortfolio{
    display: flex;
    justify-content: space-between;
}

#menuPortfolio ul{
    display: flex;
    gap: 40px;
    font-size: 13px;
    color: #1E1E1E;
    font-family: var(--pBold);
    text-transform: uppercase;
    margin-bottom: 30px;
}

#menuPortfolio a{
    font-family: var(--pBold);
    font-size: 13px;
}

.articlePortfolio{
    position: relative;
}

.articlePortfolio img{
    height: 100%;
    width: 100%;
}

.articlePortfolio h3{
    position: absolute;
    bottom: 40px;
    left: 60px;
    color: var(--white);
    font-size: 27px;
    font-family: var(--pBold);
}

#containerArticle{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.shadowArticle{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.73) 100%);
    top: 0;
    transition: all 0.2s;
}

.shadowArticle:hover{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.500) 100%);
    transition: all 0.2s;
}

/* BLOG */

#blog{
    margin-bottom: 40px;
}

#titleBlog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#blog h2{
    font-size: 66px;
    font-family: var(--pExtrabold);
    text-transform: uppercase;
}

#titleBlog a{
    font-size: 13px;
    font-family: var(--pBold);
    display: flex;
    align-items: end;
}

.containerBlog{
    display: flex;
    gap: 40px;
}

.articleBlog{
    position: relative;
}

.articleBlog img{
    height: 100%;
    width: 100%;
}

.txtBlog{
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.txtBlog p {
    color: var(--red);
    font-size: 15px;
    font-family: var(--pSemibold);
}

.txtBlog h3{
    margin-top: 30px;
    color: var(--white);
    font-size: 27px;
    font-family: var(--pBold);
}

/* CONTACT */

#contact{
    background-color: #202122;
}

#contact > div > p:nth-child(1){
    color: var(--red);
    font-size: 15px;
    font-family: var(--pRegular);
    margin: 10px 0 20px 0;
    padding: 20px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

#contact > div h2{
    color: var(--white);
    font-size: 66px;
    font-family: var(--pExtrabold);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 55px;
}

#contact > div > p:nth-child(3){
    color: var(--white);
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 620px;
    margin: 15px auto;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

#contact > div > p:nth-child(4){
    color: var(--white);
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15px auto;
    letter-spacing: 0.5px;
    line-height: 1.6;

}

.mailTel{
    display: flex;
    color: var(--white);
    gap: 20px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.numMail{
    display: flex;
    gap: 10px;
}

#contact > div > div > div:nth-child(2) > img{
    height: 22px;
    width: 36px;
}

#contact h3{
    font-size: 26px;
    background: linear-gradient(to right, #fe6a00, #f31f5c 100%);
    -webkit-background-clip: text; /* Pour les navigateurs basés sur WebKit */
    -moz-background-clip: text; /* Pour les anciennes versions de Firefox */
    -ms-background-clip: text; /* Pour les anciennes versions de Internet Explorer */
    background-clip: text; /* Propriété standard */
    -webkit-text-fill-color: transparent; /* Nécessaire pour voir le dégradé à travers le texte sur WebKit */
    color: transparent; /* Sécurité au cas où */
    font-family: var(--pExtrabold);
    width: 305px;
    margin: 20px 0;
}

.displayForm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.displayForm textarea{
    grid-column: 1/4;
}

.displayForm input, .displayForm textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid var(--borderForm);
    background-color: #202122;
    resize: none;
}